# Title

# Introduction

# Exploratory Data Analysis

In [33]:
library(tidyverse)
library(repr)
library(digest)
library(infer)
library(broom)
library(dplyr)

In [44]:
player_attributes <- read_csv("data/Player_Attributes.csv") %>% select(WEIGHT, SEASON_EXP, TEAM_NAME, PTS)  %>% filter(!is.na(TEAM_NAME)) %>% filter(!TEAM_NAME %in% 
                                                                                                                                                     c("Ironmen", "Stags", "Bombers", "Olympians", "Capitols", 
                                                                                                                                                      "Rebels", "Steamrollers", "Huskies", "Packers", 
                                                                                                                                                      "Jets", "Redskins", "Zephyrs"))
initialTeamNames <- unique(player_attributes$TEAM_NAME)
Atlantic <- c("Knicks", "Nationals", "Nets", "Celtics", "Raptors", "76ers")
Central <- c("Pistons", "Cavaliers", "Bucks", "Bulls", "Pacers")
Southeast <- c("Magic", "Heat", "Bullets", "Wizards", "Hawks", "Hornets", "Falcons", "Blackhawks", "Bobcats")
Northwest <- c("Trail Blazers", "Jazz", "Timberwolves", "SuperSonics", "Thunder")
Pacific <- c("Lakers", "Kings", "Warriors", "Clippers", "Suns", "Royals", "Braves")
Southwest <- c("Rockets", "Nuggets", "Grizzlies", "Pelicans", "Mavericks", "Spurs")
player_attributes <- player_attributes %>% mutate(DIVISION = if_else(TEAM_NAME %in% Atlantic, "Atlantic", if_else(TEAM_NAME %in% Central, "Central", if_else(TEAM_NAME %in% Southeast, "Southeast", if_else(TEAM_NAME %in% Northwest, "Northwest", if_else(TEAM_NAME %in% Pacific, "Pacific", "Southwest"))))))
player_attributes <- select(player_attributes, -TEAM_NAME)
head(player_attributes)

── Column specification ────────────────────────────────────────────────────────
cols(
  .default = col_character(),
  ID = col_double(),
  BIRTHDATE = col_datetime(format = ""),
  HEIGHT = col_double(),
  WEIGHT = col_double(),
  SEASON_EXP = col_double(),
  TEAM_ID = col_double(),
  FROM_YEAR = col_double(),
  TO_YEAR = col_double(),
  PTS = col_double(),
  AST = col_double(),
  REB = col_double(),
  ALL_STAR_APPEARANCES = col_double(),
  PIE = col_double()
)
ℹ Use `spec()` for the full column specifications.

  WEIGHT SEASON_EXP PTS  DIVISION
1 240     4          5.7 Northwest
2 235     9          9.0 Southwest
3 225    19         24.6 Pacific
4 162     8         14.6 Southwest
5 235     6          7.8 Pacific
6 245    12         18.1 Southwest

# Methods: Plan

# References